body
{
font-family:"Times New Roman",Times,serif;
}


table, th, td
{
border: none;
border-collapse: collapse;
padding:0;
font-size:12px;
}


th
{
background-color:#E0E0E0;
color:black;
}

div.img
{
	height:auto;
	width:auto;
}
